<div class="container">
  <div class="container--image">

  </div>
  <div class="container--about">
     <div class="container--about-title">
      Loren
     </div>
     <div class="container--about-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus venenatis quisque tincidunt convallis placerat et erat. Pulvinar iaculis tellus sed phasellus interdum blandit. Mi et, quis id at netus lorem. Eget varius tempor quis vehicula malesuada odio ut tempor. Quis hendrerit viverra in magna in lectus odio. Condimentum pellentesque amet dictum tempus ullamcorper. Non pharetra scelerisque.
     </div>
  </div>
</div>
