<div class="container">
  <div>
  sadf asdf asdf picture_as_pdf asdf asdf sadf   <a href="df asdf"></a>
  </div>
  <div class="container--carousel">
    <div class="carousel" (wheel)="moveCarouselWheel($event)">
      <div class="carousel--item">
        <img src="./assets/img/img-1.JPEG" alt="">
      </div>
      <div class="carousel--item">
        <img src="./assets/img/img-2.JPEG" alt="">
      </div>
      <div class="carousel--item">
        <img src="./assets/img/img-3.JPEG" alt="">
      </div>
      <div class="carousel--item">
        <img src="./assets/img/img-4.JPEG" alt="">
      </div>
      <div class="carousel--item">
        <img src="./assets/img/img-5.JPEG" alt="">
      </div>
    </div>
  </div>

</div>
