<div class="container">
  <div style="margin: 0 0 20px 0 ;">
  sadf asdf asdf picture_as_pdf asdf asdf sadf   <a href="df asdf"></a>
  </div>
  <div class="carousel">
    <div class="carousel--gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <div class="carousel--gallery-cell">
        <img src="/assets/img/img-1.JPEG" alt="">
      </div>
      <div class="carousel--gallery-cell">
        <img src="/assets/img/img-2.JPEG" alt="">
      </div>
      <div class="carousel--gallery-cell">
        <img src="/assets/img/img-3.JPEG" alt="">
      </div>
      <div class="carousel--gallery-cell">
        <img src="/assets/img/img-4.JPEG" alt="">
      </div>
      <div class="carousel--gallery-cell">
        <img src="/assets/img/img-5.JPEG" alt="">
      </div>
    </div>
  </div>

</div>
